/* * {
  border: solid .1px;
} */
.hero-container {
  height: 87vh;
  overflow: hidden;
  /* transition: all .2 ease-in-out; */
}

.hero {
  /* width: 1920px;
  height: 1080px; */
}

#hero-dish {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  text-align: center;
  left: 50vw;
  bottom: 20vh;
}

html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  /* height: 30%; */
  width: 100%;
  margin: 0px;
}

.hero-container > h1 {
  position: absolute;
  margin-left: 2vh;
  font-size: 2.3em;
  color: white;
  border: solid 6px;
  padding: .5em .6em;
  top: .2em;
  left: 1em;
}

#hero-container {
  /* height: 40vh; */
  /* width: 100%; */
  height: 87vh;
  overflow: hidden;
}

.hero {
  width: 1920px;
  height: 1080px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* border-bottom: #cfcfcf;
  border-bottom-style: solid; */
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0px 6px 12px 0px #0000003d;
  z-index: 10;
  /* height: fit-content; */
  height: 5em;
}

.navbar>div {
  display: flex;
}

.navbar-title-container {
  align-self: center;
  display: contents;
}

.navbar-user-name-wrapper--active {
  background-color: #C3025B;
  height: 100%;
  margin-left: 1em;
  padding: 0 .5em;
  animation-name: pulse;
  animation-duration: .8s;
  animation-iteration-count: 2;
}

.navbar-user-name-wrapper {
  transition: background-color 1s ease-in .1s ease-out;
}

.navbar-user-name {
  color: white;
}

.navbar-user-section-wrapper--active {
  background-color: salmon;
  height: 100%;
  padding: 0 .5em;
  animation-name: change 500ms ease;
  animation-duration: 1s;
  animation-iteration-count: 1;
  padding-right: 1em;
}

.navbar-user-section-wrapper {
  transition: background-color .3s ease-in .1s ease-out;
}

.navbar-user-section {
  color: white;
  font-weight: lighter;
}

.navbar-whats-cookin {
  font-size: 2.3em;
  color: #C3025A;
  margin: 0;
  margin-top: .7em;
  cursor: pointer;
}

.sidebar-icon {
  background-size: 3.25vh;
  /* width: 3em; */
  height: 5vh;
  cursor: pointer;
}

.dropdown-header-icon {
  align-self: center;
}

.header-icon {
  align-self: center;
}

#header-hamburger-menu {
  height: 2em;
  padding-right: 2em;
  padding-left: 4em;
}

#header-profile-icon {
  height: 3em;
  /* padding-right: 0em;
  padding-left: 0em; */
}

.nav-search-bar {
  display: flex;
  align-content: baseline;
  justify-content: space-around;
  align-self: center;
  /* padding-right: 5px; */
  padding-bottom: 20px;
}

.nav-search-input {
  background-image: url(../assets/search-solid.svg);
  background-repeat: no-repeat;
  background-position-x: 96%;
  stroke-width: 1em;
  width: 240px;
  border-radius: 4px;
  padding: .2em .5em;
  background-size: 1.6em;
  background-position-y: center;
  transition: width 3s;
  font-size: 1em;
  /* margin: 3vh; */
}

/* .search-bar {
  display: flex;
  flex-direction: column;
  margin: 2vh 0;
  align-self: center;
} */

.search-input {
  background-image: url(../assets/search-solid.svg);
  background-repeat: no-repeat;
  background-position-x: 98%;
  stroke-width: 1em;
  /* width: 14em; */
  width: 240px;
  border-radius: 4px;
  padding: .5em .5em;
  background-size: 1.6em;
  background-position-y: center;
  margin-top: 2vw;
  /* background-color:#666666;
  color: white; */
  transition: width .5s;
  font-size: 1em;
}

.search-input--clicked {
  width: 44vw;
}

/* .search-bar>div {
  margin-top: 0.5vw;
  font-size: 1.1rem;
} */

.accounts-icon {
  margin-top: 5px;
  align-self: center;
}

.user-accounts {
  height: 250px;
  overflow-y: scroll;
}

/*
.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */
.dropdown {
  padding: 10px;
  /* border: none;
  position: relative;
  display: inline-block;
  align-self: center; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0px;
  z-index: 1;
}

.dropdown-icons {
  width: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/**************  Main content  ******************/
.recipe-image {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.recipe-image:hover {
  cursor: pointer;
  transform: scale(1.025);
  z-index: 0
}

.home-view {
  display: flex;
  margin-bottom: 4em;
  padding-left: 3.5vw;
  transition: .2 fade-in;
  margin-top: 2.5em;
}

.home-main-content {
  padding-right: 2vw;
  width: 70vw;
}

.home-main-content>h1 {
  font-size: 3em;
  text-align: center;
}

.featured-recipe {
  display: flex;
  overflow: hidden;
  margin-top: 0vh;
  margin-bottom: 5vh;
  height: 60vh;
  padding: 1vh 0px;
}

.featured-recipe-image-wrapper {
  overflow: hidden;
  display: flex;
  max-width: 43vw;
}

.featured-recipe-img {
  height: 103%;
}

.featured-recipe-info {
  padding-left: 1vw;
  min-width: min-content;
  max-width: 23vw;
}

.featured-recipe-title {
  border-radius: 6px;
  font-size: 3em;
  padding-bottom: 2vw;
  padding: 0 1vw;
  font-weight: bolder;
  transition: background-color 0.2s ease-in, color ease-in .2s;
}

.featured-recipe-title:hover {
  background-color: black;
  color: white;
}

.featured-recipe-description {
  font-size: 1.3em;
  font-style: italic;
  font-weight: 100;
  line-height: 2em;
  border-radius: 8px;
  text-align: justify;
  padding: .5vw 1.2vw;
  height: 34vh;
  transition: background-color 0.2s ease-in, color ease-in .2s;
}

.featured-recipe-description:hover {
  background-color: black;
  color: white;
  border-radius: 8px;
}

#others-sidebar-title {
  font-size: 2em;
  text-align: center;
  margin-top: 2vw;
  font-weight: normal;
  padding: 2.75vh 0;
  background-color: black;
  color: white;
  font-weight: lighter;
}

.others-sidebar {
  border-left: solid #cfcfcf;
  border-width: thin;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.users-icon {
  cursor: default;
}

.others-sidebar-card-container {
  width: min-content;
}

.others-sidebar-card {
  padding: 1vh;
  /* padding-bottom: 50px; */
  align-self: center;
  display: flex;
  margin: 0 .5vw;
}

.others-sidebar-card-info-block {
  display: flex;
  padding-right: 3vh;
  flex-direction: column;
  width: 7vw;
  max-width: 120px;
  min-width: 110px;
}

.others-sidebar-card-info-icons {
  display: flex;
  justify-content: space-evenly;
  width: 8vw;
  min-width: 7em;
}

.others-sidebar-card-image-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* height: 23vh; */
}

#others-score{
  font-size: .7em;
}
.others-title {
  margin: 0;
  text-align: center;
  color: white;
  background-color: black;
  line-height: 1.5em;
  border-radius: 3px;
}

.others-sidebar-card-info-block > p {
  text-align: center;
  font-weight: lighter;
}

.others-sidebar-card-image-wrapper > p {
  max-width: fit-content;
}

.others-sidebar-card-image {
  max-width: 15vw;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

/* ---------- STAFF PICKS Section ----------- */

.staff-picks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: .2em 0;
  margin: 1em 0;
  justify-content: center;
}

.staff-picks-title {
  background-color: black;
  color: white;
  padding: 2vh 0;
  margin: 0;
  font-weight: lighter;
}

.staff-pick-block {
  padding: .2em .4em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* overflow: hidden; */
}

.staff-pick-image-wrapper {
  max-width: min-content;
  display: flex;
  flex-direction: column;
}

.staff-pick-image-wrapper:hover {
  opacity: .35;
}

.staff-pick-img {
  height: 21.5vw;
}

.staff-pick-img:hover {
  box-shadow: 5px 9px 20px 4px black;
}

.staff-pick-title-wrapper {
  max-width: fit-content;
  height: -webkit-fill-available;
  display: flex;
}

.staff-pick-title {
  font-weight: lighter;
  text-align: center;
  margin: 1em 0;
}

/* ---------- VIEW RECIPE PAGE Section ----------- */
.recipe-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4vh;
}

.recipe-left-column {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding-left: 4vw;
  overflow: hidden;
  width: 50vw;
}

.recipe-img {
  /* height: 400px; */
  /* width: 60vw;
  min-width: 500px; */
  width: 60vw;
  max-width: 50vw;
}

.recipe-icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 35px;
}

.recipe-icon {
  width: 30px;
}

@keyframes pulse {
  0% {}

  50% {
    transform: scale(1.2);
  }

  100% {}
}

@keyframes change {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  50% {}

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.recipe-bookmark-icon--inactive {
  background-size: 2.25vh;
  background-image: url(../assets/bookmark-gray.svg);
  background-repeat: no-repeat;
  /* transform: scale(1); */
  transition: all .2s ease-in-out;
}

.recipe-bookmark-icon--inactive:hover {
  background-image: url(../assets/bookmark-hover-red.svg);
  /* transform: scale(1.1); */
}

.recipe-bookmark-icon--active {
  background-size: 2.7vh;
  background-image: url(../assets/bookmark-solid-red.svg);
  /* transform: scale(1.1); */
  background-repeat: no-repeat;
  animation-name: pulse;
  animation-duration: .2s;
  animation-iteration-count: 1;
}

.recipe-view-bookmark-icon {
  background-size: 2.25vh;
  background-image: url(../assets/bookmark-hover-red.svg);
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
}

.recipe-dollar-icon {
  background-image: url(../assets/dollar-color2.svg);
  background-repeat: no-repeat;
  transform: scale(1);
  transition: all .2s ease-in-out;
}

.recipe-dollar-icon:hover {
  transform: scale(1.1);

}

.recipe-basket-icon--inactive {
  background-image: url(../assets/cart-empty.svg);
  background-repeat: no-repeat;
}

.recipe-basket-icon--active {
  background-image: url(../assets/cart-full.svg);
  background-repeat: no-repeat;
  transform: scale(1.5);
}

.recipe-solid-cookie-icon--inactive {
  background-image: url(../assets/cookie-color.svg);
  background-repeat: no-repeat;
  transition: all .2s ease-in-out
}

.recipe-solid-cookie-icon--inactive:hover {
  background-image: url(../assets/cookie-color.svg);
  transform: scale(1.1);
}

.recipe-solid-cookie-icon--active {
  background-image: url(../assets/cookie-bite.svg);
  transform: scale(1.1);
  background-repeat: no-repeat;
}

.recipe-cost {
  display: flex;
  flex-direction: row;
  /* max-width: 20px; */
}

.recipe-popularity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipe-popularity {
  font-size: 2em;
}

.recipe-view-icons {
  display: flex;
  align-items: center;
  position: absolute;
  width: 9em;
}

#recipe-bookmark {
  background-position: center;
}

#recipe-basket {
  background-position: center;
}

#recipe-cookie {
  background-position: center;
  width: 16em;
}

.recipe-ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: .8em;
  border: solid .1px;
  overflow: hidden;
}

.recipe-ingredients-table-title {
  text-decoration: underline;
  margin: 0;
  margin-top: 1em;
}

.recipe-ingredients-table-data {
  font-weight: lighter;
}

/* .recipe-ingredients {
  font-size: 1.5em;
  line-height: 1.5em;
  border: black solid;
  margin-top: 5vh;
  padding: 1em;
} */

.ingredients-amount {
  align-content: center;
  align-items: center;
}

.ingredient {
  display: flex;
  flex-direction: column;
}

.recipe-right-column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2vw;
  padding-top: 0;
  width: 40vw;
  overflow-y: scroll;
  height: 66em;
}

/* removes scroll bar */
/* ::-webkit-scrollbar {
  display: none;
} */
.recipe-title {
  font-size: 5em;
  margin: 0;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-bottom: 2vh;
}

.recipe-details {
  font-size: 1.5em;
  font-style: italic;
  /* font-weight: lighter; */
  padding: 0 2vw;
  padding-top: 5vh;
  line-height: 1.7em;
  width: 34vw;
  text-align: center;
}

.recipe-instructions {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: lighter;
  text-align: justify;
  transition: background-color 0.2s ease-in, color ease-in .2s;
  padding: 1em 1.5em;
  border-radius: 8px;
  margin: 0;
  margin-bottom: 1em;
}

.recipe-instructions-list {
  height: 100vh;
}

.recipe-instructions-step:hover {
  background-color: black;
  color: white;
  border-radius: 8px;
}

.recipe-instructions-title {
  margin-bottom: 0;
  padding: 4vh 0;
  text-decoration: underline;
}

/* --------------------- USER VIEW Section --------------------- */
.main-user-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* --------USER SUGGESTIONS Section-------- */
.suggestions-container {
  border: dashed #84fab0 3px;
  border-radius: 20px;
  padding: 30px 30px;
  margin-top: 100px;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  /* max-width: 15vw; */
}

.suggested {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

/* .suggested-recipes-to-cook-container {
  border: solid 1px;
  display: flex;
  flex-direction: column;
} */
.suggested-recipes-to-cook {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

/* .suggested-favorites-container {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
} */
.suggested-favorites {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

/* --------USER VIEW '______' Section-------- */
.user-view-section {
  /* border: solid .5px; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* max-width: 50px; */
}

.recipe-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex: 1 1 160px; */
  justify-content: space-around;
  align-items: center;
  /* max-width: 20; */
}

.this-recipe-container {

}
.this-recipe{

}
.this-recipe-image{

}

.user-view-section>* {
  /* flex: 1 1 80px; */
}

.user-recipe-image {
  padding: 20px;
  width: 180px;
}

.recipe-info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.recipe-info-icons {
  display: flex;
  flex-direction: row;
  width: 10vw;
}

/* --------MY PANTRY Section-------- */
.pantry-view {
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
  /* border: black 5px solid; */
}

.pantry-item-block {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border: #a6c0fe solid;
  align-items: center;
  min-width: 170px;
  max-width: 170px;
}

.pantry-icon {
  width: 20px;
}

.delete-item-container {
  align-self: baseline;
}

.pantry-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: fantasy;
}

.item-quantity {
  display: flex;
  flex-direction: row;
  width: 8vw;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.item-amount-input {
  width: 2.5vw;
  height: 4vh;
  text-align: center;
}

.add-item-container {
  /* display: flex; */
  padding: 20px;
  margin-top: 100px;
  border: orange solid;
  border-radius: 20px;
  /* flex-direction: column;
  justify-content: space-around; */
  height: 40vh;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-input {
  padding: 20px 0px;
}

.add-item-name {}

.add-item-amount {}

.add-item-button {
  border-radius: 10px;
}


/* --------SEARCH VIEW Section -------- */
.search-view {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  width: 100vw;
  margin: 0 1vw;
}

.search-result-container {
  padding: .2em .2em;
  display: flex;
  flex-direction: column;
  max-width: min-content;
}

.searched-recipe-image {
  height: 32vw;
}

.star-icon {
  width: 20px;
  padding-right: 10px;
  background-size: 2.25vh;
  background-image: url(../assets/star-empty.svg);
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.star-icon:hover {
  background-size: 2.45vh;
  transition: all .2s ease-in-out;
}

.star-icon--active {
  width: 20px;
  padding-right: 10px;
  background-size: 2.25vh;
  background-image: url(../assets/star-filled-color.svg);
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
  background-size: 2.7vh;
  animation-name: pulse;
  animation-duration: .2s;
  animation-iteration-count: 1;
}

.search-result {
  display: flex;
  justify-content: center;
  display: contents;
}

.search-recipe-image {
  max-width: 50vw;
  border-radius: 20px;
}

.search-result-icon {
  /* position: absolute; */
  margin: 1em;
  background-size: 2em;
  height: 4em;
}

/* --------SIDE NAVIGATION MENU -------- */
span {
  align-self: center;
  margin-top: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1A1918;
  overflow-x: hidden;
  padding-top: 60px;
  transition: width .35s;
}

.browse-categories {
  /* margin-top: 100px; */
}

.sidenav h2 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: antiquewhite;
  display: block;
  transition: 0.3s;
}

.sidenav a {
  padding: 8px 8px 15px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: antiquewhite;
  margin-top: 4em;
}

.social-icon {
  width: 3vw;
}

/* -----------------------ADDITIONAL STYLINGS---------------------- */
.hidden {
  display: none;
}

.fade-in {
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
